/Persiapan Temtamen/jdbc_DAO_simple/nbproject/private/
/Persiapan Temtamen/jdbc_DAO_simple/build/
/jdbc_DAO_simple/build/
/Persiapan Temtamen/jdbc_DAO_simple/dist/
/Persiapan Temtamen/contoh_starter_kamus/nbproject/private/
/Persiapan Temtamen/contoh_starter_kamus/build/
/Persiapan Temtamen/contoh_starterproject/nbproject/private/
/Persiapan Temtamen/contoh_starterproject/build/
/Persiapan Temtamen/Tentamen1/nbproject/private/
/Persiapan Temtamen/Tentamen1/build/
/Guess_Number/nbproject/private/
/Guess_Number/build/